@import url(site.css);
.modal_email_confirm{

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.521);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.card_modal{

    width: 30%;
    height: 30%;
    background-color: whitesmoke;
    color: black;    
}
    .card_body{

        margin-top: 3rem;
    }
    .card_modal h2{

        color: white;
        background-color: var(--button_color);
        padding-bottom: 1rem;
        text-align: center;
    }

    .card_modal h4{

        color: black;
        font-size: 1.2rem;
        text-align: center;
    }

    .card_modal p{

        color: black;
        text-align: center;
        color: gray;

    }

    .card_footer{

        width: 100%;
        background-color: var(--button_color);
        color: white;
        margin-top: 4.4rem;
        cursor: pointer;
        text-align: center;
    }


.disabled{

    display: none;
}