/* ========== ResetCSS ========== */
*,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
tr,
select,
input {
    appearance:inherit; 
    -moz-appearance:inherit; 
    -webkit-appearance:inherit; 
    background:transparent; 
    border:none; 
    border-radius:0; 
    box-sizing: border-box; 
    margin:0; 
    outline:0; 
    padding:0; 
    text-decoration:none;
    list-style: none;
    font-family: var(--main_font);
    color: inherit;
}

/* ========== Variables ========== */
:root {
    /* Tamaño objetos */
    font-size: 15px;
    /* ===== Variables de color ===== */
    --menu-color: #3C0753;
    --main_color: #030637;
    --hover_color: #720455;
    --thead_color : #074d701f;
    --button_color : #910A67;
    --footer_color : #f7f8fb;
    --success: #3ab65c;
    --error: #bf333b;
    --info: #1898c0;
    --warning: #bc8c12;
    /* ===== Variables de fuentes ===== */
    --main_font: 'Poppins', sans-serif;
    --fuente-secundaria: "Times New Roman, serif";
}

/* ================================================================
   ======================== Estilos header ========================
   ================================================================ */
header {
    width: 100%;
    height: 4rem;
    background-color: var(--menu-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5rem;
    position: fixed;
    z-index: 10;
    box-shadow: -1px 3px 15px 0px rgba(0, 0, 0, 0.5);
}

header div h1 {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    font-size: 1.2rem;
    color: #fff;
    padding-left: 3rem;
}

header .button_style {
    padding: 0.7rem 1.2rem;
    background-color: var(--button_color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: .9rem;
    transition: background-color 0.3s ease;
}

header .button_style:hover {
    background-color: var(--hover_color);
}

/* Contenedor principal */
.container {
    padding-top: 4rem;
}

/* ================================================================
   ======================= Estilos container ======================
   ================================================================ */

.description {
    width: 100%;
    padding: 5rem 25rem;
}

.description h2 {
    text-align: center;
    font-size: 4rem;
}

.description h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.monitor {
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.3);
    margin: 0 17rem;
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 5rem;
}

.monitor div {
    margin-bottom: 2rem;
}

.monitor .page_url {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.monitor .page_url input {
    width: 85%; 
    padding: .7rem; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1.2rem;
}

.monitor .page_url input:hover, 
.monitor .page_url input:focus, 
.monitor .alert_email .Send input:hover, 
.monitor .alert_email .Send input:focus, 
.monitor .alert_email .frequency select:hover,
.monitor .alert_email .frequency select:focus {
    border-color: var(--button_color);; 
    box-shadow: 0 0 5px rgba(126, 13, 22, 0.7); 
}

.monitor .page_url input::placeholder {
    font-size: 1.2rem;
}

.monitor .button_style {
    width: 15%;
    background-color: var(--button_color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.monitor .button_style:hover {
    background-color: var(--hover_color);
}

.monitor .page {
    width: 100%;
    height: 40rem;
    background-color: #e5e9f1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.monitor .page img {
    width: 7rem;
    height: 7rem;
}

.monitor .page span {
    font-size: 1rem;
}


.monitor .alert_email {
    display: flex;
    gap: 1rem;
}

.monitor .alert_email div {
    display: flex;
    flex-direction: column;
}

.monitor .alert_email label {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.monitor .alert_email .Send {
    width: 85%;
    margin: 0;
}

.monitor .alert_email .Send input {
    width: 100%; 
    padding: .7rem; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1.2rem;
}

.monitor .alert_email .frequency {
    width: 15%;
    margin: 0;
}

.monitor .alert_email .frequency select {
    width: 100%; 
    padding: .88rem; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1.2rem;
}

.monitor .button_send {
    width: 100%;
    padding: .7rem; 
    background-color: var(--button_color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.monitor .button_send:hover {
    background-color: var(--hover_color);
}

.cut_seccion {
    width: 100%;
    height: 40rem;
    background-color: #e5e9f1;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 0 !important;
}

#image_capture {
    width: 100%;
    height: 100%;
    background-color: #3ab65c;
}

.confirm_selection {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn_cropp {
    background-color: var(--button_color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
}

#emailForm {
    display: none;
}

.hide_container {
    display: none !important;
}

.show_container {
    display: block !important;
}

/* ================================================================
   ======================== Estilos footer ========================
   ================================================================ */
footer {
    background-color: var(--footer_color);
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15rem;
}

footer p {
    color: rgb(152 153 155);
}

footer div {
    display: flex;
}

footer div a {
    padding-left: 8rem;
    color: var(--button_color);
}

footer div a:hover {
    color: var(--hover_color);
}