{% extends 'Base.html' %}
{% block content %}
<section class="container_about_us">
    <section class="about_us">
        <h2>ACERCA DE NOSOTROS</h2>
        <h3>Garantizamos la mejor oportunidad de compra siempre.</h3>
        <p>En <strong>Track My Price</strong>, estamos comprometidos a ayudarte a encontrar los mejores precios en tus productos favoritos. Utilizamos tecnología avanzada para monitorear cambios de precios y te notificamos oportunamente para que puedas comprar al mejor precio posible.<br>Nuestro equipo está dedicado a brindarte una experiencia de compra en línea excepcional. Analizamos constantemente los datos para identificar las mejores ofertas y tendencias de precios. ¡Contáctanos si necesitas ayuda o tienes alguna pregunta!</p>
    </section>
    <section class="about_us_img">
        <img src="../static/img/icons/about_us.png" alt="">
    </section>
</section>
{% endblock %}