{% extends 'Base.html' %}
{% load static %}
{% block content %}
<section class="description">
    <h2>Monitoreamos cambios en los precios de tus productos favoritos</h2>
    <h3>... para que, cuando cambien, ¡puedas comprarlos al mejor precio!"</h3>
</section>
<section class="card">
    <div>
        <figure>
            <img src="../static/img/icons/icon_url.png" alt="Url">
        </figure>
        <article>
            <p><strong>Introduce la dirección URL</strong><br>del sitio web donde se encuentra el producto que deseas monitorear.</p>
        </article>
        <img class="img_next" src="../static/img/icons/icon_next.png" alt="">
    </div>
    <div>
        <figure>
            <img src="../static/img/icons/icon_select.png" alt="Seleccione área">
        </figure>
        <article>
            <p><strong>Selecciona un área</strong><br>del precio del producto que deseas monitorear</p>
        </article>
        <img class="img_next" src="../static/img/icons/icon_next.png" alt="">
    </div>
    <div>
        <figure>
            <img src="../static/img/icons/icon_input.png" alt="Frecuencia">
        </figure>
        <article>
            <p><strong>Introduce el nombre</strong><br>del producto que deseas monitorear</p>
        </article>
        <img class="img_next" src="../static/img/icons/icon_next.png" alt="">
    </div>
    <div>
        <figure>
            <img src="../static/img/icons/icon_email.png" alt="Notificaciones">
        </figure>
        <article>
            <p><strong>Recibe notificaciones</strong><br>en tu correo cada vez que detectemos un cambio en el precio</p>
        </article>
    </div>
</section>
<section class="monitor">
    <form method="post" action="{% url 'execute' %}" class="page_url">
        {% csrf_token %}
        <input type="text" id="url_input" name="url" placeholder="Introduce la URL" required="required">
        <button class="button_style " type="submit" id="capture">Capturar</button>
    </form>
    <div class="page">
        <div id="loader" class="loader hidden_loader">
            <img src="{% static 'img/logo_white.png' %}" alt="Loader">
            <div class="loader_text">
                <p class="text" style="--i:1">L</p>
                <p class="text" style="--i:2">o</p>
                <p class="text" style="--i:3">a</p>
                <p class="text" style="--i:4">d</p>
                <p class="text" style="--i:5">i</p>
                <p class="text" style="--i:6">n</p>
                <p class="text" style="--i:7">g</p>
                <p class="text" style="--i:8">.</p>
                <p class="text" style="--i:9">.</p>
                <p class="text" style="--i:10">.</p>
            </div>
        </div>
        {% block child_content %} {% endblock %}
    </div>
</section>
{% endblock %}