
{% extends 'Base.html' %}
{% load humanize %} 
{% block content %}
{% load static %}
    
    <section class="dashboard ">
        <h2>Detalles del Monitoreo</h2>
        <p>Hemos detectado un cambio en el producto adnsdas</p>
        <div class="card_container">
            <div class="card">
                {%if db_price > current_price%}
                    <img src="{% static 'img/icons/ico_graph_red.png'%}" alt="">
                {% else %}
                    <img src="{% static 'img/icons/ico_graph_green.png'%}" alt="">          
                {% endif %}
                <span>Precio Anterior</span>
                <span>${{db_price|floatformat:"-2"}}</span>
            </div>
            <div class="card">
                {%if db_price > current_price%}
                    <img src="{% static 'img/icons/ico_graph_green.png'%}" alt="">
                {% else %}
                <img src="{% static 'img/icons/ico_graph_red.png'%}" alt="">
                {% endif %}
                <span>Precio Actual</span>
                <span>${{current_price|floatformat:"-2"}}</span>
            </div>
            <div class="card">
                <img src="{% static 'img/icons/ico_price_down.png'%}" alt="">
                <span>Ahorro</span>
                {%if current_price > db_price%}
                <span>$0</span>
                {%else%}
                    <span>${{differencePrice |floatformat:"-2"}}</span>
                {% endif %}
                
            </div>
        </div>
        <a href="{{urlImage}}">Ir a producto</a>
    </section>

{% endblock %}